#intro {
    position: relative;
    background-color: $c-brand-main;
    padding: 1em;
    color: white;

    &:before {
        content: "";
        display: block;
        background: url(bg.png) center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0.2;
    }

    & > * {
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 2em;
        font-weight: normal;
    
        strong {
            font-weight: bold;
        }
    }

    a.manifesto-link {
        @include button;
        border-color: white;
        color: white;
    }
}
